html{
    box-sizing: border-box;
  }
body {
    font-family: "Gill Sans";
    background-image: url(../images/aboutMeImage.png);
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    padding:10px;
    margin:none;
    border:none;
    background-color: transparent !important;
    
}
nav .brand-logo{
    color: yellow !important;
}
a{
    color:blue !important;
}
.container{
    z-index: 1;
    width:100%;
    left:40%;
    top:60%;
    overflow:hidden;
}
h2{
    font-family: cursive;
    color:black;
    position: relative;
    top: 20%;
    left:10%;
}
p{  
    font-size:large;
    color:black;
    position: relative;
    top: 30%;
    left:10%;
}
#aboutMe{
    height:300px;
    width:300px;
    position: relative;
    left:30%;
   
}
h5{
    position: relative;
    font-size: 40px;
    font-family: cursive;
    left:10%;
}
img{
    border-radius: 50%;
}