html{
    box-sizing: border-box;
  }
body {
    font-family: 'Garamond';
    background-image: url(../images/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    padding:10px;
    margin:none;
    border:none;
    background-color: transparent !important;
    
 }
#container{
    position: absolute;
    left:250px;
    bottom:100px;
    border: 1px solid lightskyblue;
    border-style:groove;
    width: 900px;
    height:500px;
    background-color: white;
}
form{
    position: absolute;
    left:20%;
    top:30%;
    width:70%;
    height:70%;
    margin: auto;
}
#contactHeader{
    color:#0f3ed3;
    position: absolute;
    left:20%;
    top:10%;
}
i{
    color:#0f3ed3;
}
nav .brand-logo{
    color: yellow !important;
}
a{
    color:white !important;
}
#submitBtn{
    color: white;
    background-color:#0f3ed3;
}
