html{
    box-sizing: border-box;
  }
body {
    font-family: 'Garamond';
    background-image: url(../images/bright-background-with-dots_1055-3132.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}
nav {
    padding:10px;
    margin:none;
    border:none;
    background-color: transparent !important;
    color:black;
 }
 #logo{
    color: yellow !important;
}
h3 , p ,a {
    color:black;
}
p ,a{
    font-size: large;
}
a{
    color:black !important;
}