
html{
    box-sizing: border-box;
  }
body {
    font-family: 'Garamond';
    background-image: url(../images/vw-backv2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}
nav {
    padding:10px;
    margin:none;
    border:none;
    background-color: transparent !important;
    
}
nav .brand-logo{
    color: yellow !important;
}
a{
    color:white !important;
}
li{
    font-size: larger;
    color:white;
}
h3{
    color:white;
}