html{
    box-sizing: border-box;
  }
body {
    font-family: "Gill Sans";
    background-image: url(qUFOpw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    padding:10px;
    margin:none;
    border:none;
    background-color: transparent !important;
    
}
nav .brand-logo{
    color: yellow !important;
}
a{
    color:blue !important;
}
.container{
    left:40%;
    top:60%;
}
h2{
    color:black;
    position: absolute;
    top: 20%;
    left:10%;
}
p{  
    font-size:large;
    color:black;
    position: absolute;
    top: 30%;
    left:10%;
}