html {
    box-sizing: border-box;
  }
body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(./images/computer-laptop-workplace-mac-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    background-color: transparent !important;
    color: black;
 }
 nav .brand-logo{
     color: yellow !important; 
 }
a{
    color:white !important;
 }
 .bio{
     color:white;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
     position: absolute;
     left:20%;
     bottom:30%;

 }